/* GENERAL */
html,
body {
  height: 90%;
  background-image: linear-gradient(to right, #0066ff, #ff99cc);
}
h1 {
  font-size: 48px;
  font-weight: bold;
  margin: 10px;
}
h3 {
  font-size: 24px;
  font-weight: normal;
  margin: 5px;
}
/*  */
/* FLEX */
/*  */
body {
  display: flex;
  justify-content: center;
  align-items: center;
}
.joc {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  align-content: center;
}
/*  */
/* FONT FAMILY */
/*  */
body {
  font-family: "Segoe UI";
}
/*  */
/* INPUT */
/*  */
.input1::placeholder {
  color: grey;
  font-style: italic;
  font-size: 24px;
}
.input0 {
  display: flex;
  flex: 1;
  font-size: 32px;
  font-weight: bold;
  padding: 20px;
}
.input1 {
  /* GENERAL */
  height: 45px;
  width: 100px;
  text-align: center;
  font-size: 32px;
  padding: 10px 20px;
  margin-right: 20px;
  /* COLOR */
  background: white;
  /* BORDER */
  border-width: 2px;
  border-color: black;
  border-style: solid;
  border-radius: 10px;
  /* SHADOW */
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.25);
  text-shadow: 0px 2px 5px rgba(0, 0, 0, 0.25);
}
/*  */
/* BUTTON */
/*  */
.btn {
  /* GENERAL */
  font-size: 24px;
  padding: 10px 20px;
  /* BORDER */
  border: none;
  border-radius: 10px;
  /* COLOR */
  background: linear-gradient(to right, #f6d365, #fda085);
  /* SHADOW */
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.25);
  text-shadow: 0px 2px 5px rgba(0, 0, 0, 0.25);
  /* TRANSITION */
  transition: all 0.3s ease-in-out;
}
button:hover {
  transform: scale(1.05);
  cursor: pointer;
}
